<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}PharmaSense{% endblock %}</title>

    <!-- Default (Global) CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    <!-- Page-Specific CSS -->
    {% block styles %}{% endblock %}

    <!-- Default JavaScript -->
    <script src="{{ url_for('static', filename='home.js') }}"></script>

    <!-- Page-Specific JavaScript -->
    {% block scripts %}{% endblock %}
</head>

<body>

    <header>
        <div class="nav-container">
            <div class="logo">
                <a href="{{ url_for('home.home_page') }}" class="logo-text">PharmaSense</a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('home.home_page') }}">Home</a></li>
                    <li><a href="{{ url_for('auth.login_page') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.signup_page') }}">Sign Up</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 PharmaSense. All rights reserved.</p>
    </footer>

</body>

</html>