{% extends "base.html" %}

{% block title %}Login - PharmaSense{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="login-label">Login</div>

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form action="{{ url_for('auth.login') }}" method="POST">
        <label for="username">Enter Username:</label>
        <input name="username" type="text" class="field" required>

        <label for="password">Enter Password:</label>
        <input name="password" type="password" class="field" required>

        <button type="submit" class="login-button">LOGIN</button>
    </form>
</div>
{% endblock %}